body {
font-family: Helvetica;
display: block;
margin: 0px 10% 0 10%;
color:#0000b3;
}

h1 {
  color: #4CC3D9;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
  font-size: 40 px;
}

.monkeys {
  border: 2px solid #0000b3;
  background-color: #4CC3D9;
  margin: 0px 50px 0px 50px;
}

.monkeys2 {
  margin: 20px 10px 20px 40px;
}

ul{
  list-style-type:none;
}
